@import '../../style/mixin';
.login-container{
    position: absolute;
    width: 100%;
    top: vw(104);
    .login-type{
        @include wh (100%, vw(85));
        line-height: vw(85);
        position: relative;
        &-container{
            display: flex;
            div{
                width: 50%;
                border-bottom: 3px solid #ccc;
                font-size: vw(30);
                text-align: center;
            }
        }
    }
    .current-login-type{
        border-bottom: 3px solid $red !important;
        color: $red;
    }
    .account-login, .phone-login{
        margin-top: vw(5);
        input{
            @include wh(100%, vw(90));
            font-size: vw(30);
            padding-left: vw(20);
            border-bottom: 1px solid $border;
        }
    }
    .phone-login{
        span{
            @include wh(vw(250),vw(75));
            line-height: vw(75);
            margin: vw(10) vw(15);
            background: #dcdcdc;
            position: absolute;
            right: 0;
            border-radius: vw(5);
            text-align: center;
        }
        input:first-child{
            @include wh(100%, vw(100));
        }
    }
    .login-operation{
        .btn-group{
            padding: vw(30) vw(15) vw(10) vw(15);
            button{
                @include wh(100%, vw(90));
                background: $red;
                color: $white;
                font-size: vw(40);
                border-radius: vw(3);
            }
            span{
                font-size: vw(30);
                color: $red;
                line-height: vw(80);
            }
        }
        >span{
            font-size: vw(28);
            padding: 0 vw(15);
        }
    }
}